node_modules
src/index.html
src/css/fonts.css
src/css/style.css
src/css/style.css.map
src/css/style.min.css
src/css/style.min.css.map
src/fonts/Poppins-Bold.eot
src/fonts/Poppins-Bold.ttf
src/fonts/Poppins-Bold.woff
src/fonts/Poppins-Medium.eot
src/fonts/Poppins-Medium.ttf
src/fonts/Poppins-Medium.woff
src/icons/about_me/analyst.svg
src/icons/about_me/Mobile.svg
src/icons/about_me/web development.svg
src/icons/education/Courses.svg
src/icons/education/University.svg
src/icons/experience/bolt-solid.svg
src/icons/experience/cloud.svg
src/icons/experience/library.svg
src/icons/experience/soundcloud2.svg
src/icons/skills/css3.svg
src/icons/skills/html5.svg
src/icons/skills/JS.svg
src/icons/skills/Node.js.svg
src/icons/skills/postqresql.svg
src/icons/skills/swagger.svg
src/icons/social_media/Facebook.svg
src/icons/social_media/Github.svg
src/icons/social_media/Instagram.svg
src/icons/social_media/Telegram.svg
src/icons/social_media/Vk.svg
src/img/IMG_0979.jpg
src/img/main_background_1.jpg
src/img/main_background.jpg
src/img/profile.jpg
src/js/script.js
src/sass/style.sass
src/sass/base/_animation.scss
src/sass/base/_media.scss
src/sass/base/_mixins.scss
src/sass/base/_variables.scss
src/sass/blocks/_buttons.scss
src/sass/blocks/_promo.scss
src/sass/blocks/_side_menu.scss
src/sass/blocks/_title.scss
