.about_me {
    padding-top: 116px;
    &__img_profile {
        width: 400px;
        height: 600px;
        margin-left: 11px;
    }
    // Основные блоки
    &__block {
        display: grid;
        grid-template-columns: 400px 670px;
        column-gap: 40px;
    }
    // Блок описания
    &__descr_block {
        margin-left: 57px;
    }
    &__title {
        margin-left: 20px;
        
    }
    &__subtitle {
        margin-top: 6px;
    }
    .divider {
        margin-left: 12px;
        margin-top: 7px;
    }
    &__descr {
        margin-top: 28px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    // Блок специализации
    &__specialization {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 260px);
        margin-top: 32px;
        gap: 20px 50px;
        margin-left: 11px;
    }
    // Блок описания специализации
    &__specialization_item {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 260px;
    }
    &__specialization_icon {
        width: 25px;
        height: 24px;
        margin-top: 10.5px;
        margin-left: 5px;
    }
    &__specialization_subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__specialization_descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}
