.contacts {
    margin: 120px 0 71px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 601px;
        column-gap: 68px;
        justify-content: space-between;
    }
    .divider {
        margin-top: 0;
    }
    &__img_profile {
        width: 400px;
        height: 600px;
        margin-left: 48px;
        object-fit: cover;
    }
    &__descr {
        margin-top: 20px;
    }
    &__sm_box {
        margin-top: 20px;
    }
    &__sm_icon {
        width: 30px;
        height: 30px;
        margin-right: 25px;
    }
    &__form {
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        gap: 30px 25px;
        margin-top: 30px;
    }
    &__input {
        position: relative;
    }
    input {
        height: 100%;
        width: 100%;
        padding: 0 20px;
        &:hover {
            border-color: $main_color;
            transition: all 0.6s;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        textarea {
            width: 100%;
            height: 100%;
            padding: 14px 20px;
            resize: none;
            &:hover {
                transition: all 0.6s;
                border-color: $main_color;
            }
        }
    }
    label {
        display: block;
        position: absolute;
        height: 18px;
        padding: 0 8px;
        background-color: #fff;
        top: -8px;
        margin-left: 12px;
    }
    .btn {
        width: 219px;
        height: 45px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        grid-column: 1 / 2;
    }
    a {
        margin-right: 25px;
        text-decoration: none;
    }
    &__trigger {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    &__policy {
        display: flex;
        align-items: center;
    }
    .trigger {
        height: 11px;
        width: 11px;
        margin-right: 10px;
    }
    &__hovered {
        &:hover {
            svg path {
                fill: $main_color;
                transition: all 0.6s;
            }
        }
    }
}