.hamburger {
    position: absolute;
    right: 30px;
    top: 50px;
    transform: translateY(-50%);
    width: 36px;
    z-index: 2;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
    &:hover{
        span {
            background-color: $main_color;
            transition: all 0.6s;
        }
    }
    span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: black;
    }
    #side_line {
        width: 30px;
    }
}