@media (max-width: 1320px) {
    .side_menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0 10px;
    }
    .about_me {
        &__block {
            grid-template-columns: repeat(1, minmax(400px, 400px)) repeat(1, minmax(500px, 500px));
            justify-content: center;
        }
        &__descr_block {
            margin-left: 27px;
        }
        &__specialization {
            column-gap: 10px;
            row-gap: 30px;
            grid-template: repeat(3, 1fr) / repeat(1, 1fr);
        }
        &__specialization_item {
            width: 100%;
        }
    }
    .advantages {
        &__wrapper {
            column-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: center;
        }
        &__analytics_wrapper {
            grid-template-columns: repeat(auto-fit,minmax(300px, 300px));
            justify-content: center;
            column-gap: 20px;
        }
        &__analytics_item {
            grid-template-columns: 265px 35px;
        }
        &__analytics_item_scale {
            width: 300px;
        }
    }
    .portfolio {
        &__wrapper {
            justify-content: center;
            gap: 20px;
        }
        &__img {
            width: 280px;
            height: 280px;
        }
    }
    .pricelist {
        &__wrapper {
            column-gap: 100px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 350px 501px;
            justify-items: space-around;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 230px);
        }
        &__img_profile {
            margin-left: 0px;
        }
        #checkbox-error {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .ft36_wh700 {
        font-size: 30px;
    }
    .about_me {
        padding-top: 60px;
        &__block {
            grid-template-columns: repeat(1, minmax(300px, 300px)) repeat(1, minmax(420px, 420px));
            column-gap: 8px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
    .advantages {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
    .skills {
        &__wrapper {
        justify-content: center;
        }
        &__analytics_wrapper {
            margin-top: 40px;
        }
    }
    .pricelist {
        &__wrapper {
            column-gap: 100px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 350px;
            justify-content: space-between;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 150px);
        }
        .btn {
            width: 180px;
            margin-right: 22px;
        }
        #checkbox-error {
            margin-bottom: 70px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
    .ft36_wh700 {
        font-size: 26px;
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 30px;
        }
    }   
    .about_me {
        padding-top: 40px;
        &__block {
            grid-template-columns: minmax(200px, 1fr);
            justify-items: center;
            column-gap: 20px;
        }
        &__img_profile {
            height: 400px;
            width: 100%;
        }
        &__descr_block {
            margin-top: 46px;
            margin-left: 0px;
        }
        &__subtitle{
            font-size: 24px;
            margin-top: 0px;
            line-height: 40px;
        }
        &__specialization {
            margin-top: 20px;
        }
    }
    .advantages {
        margin-top: 46px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            margin-top: 20px;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .skills {
        margin-top: 46px;
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 20px;
        }
    }
    .portfolio {
        margin-top: 46px;
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 20px;
        }
    }
    .pricelist {
        margin-top: 46px;
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 20px;
        }
        &__item {
            margin-top: 4px;
        }
    }
    .contacts {
        margin-top: 40px;
        &__wrapper {
            grid-template-columns: 200px 320px;
            justify-content: center;
            column-gap: 20px;
        }
        .btn {
            width: 150px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .ft36_wh700 {
        font-size: 24px;
        line-height: 36px;
    }
    .promo {
        &__title {
            width: 280px;
            line-height: 39px;
            margin-bottom: 0;
        }
        &__btns {
            margin-top: 32px;
        }
        .btn {
            font-size: 14px;
        }
        .hamburger {
            right: 20px;
            top: 40px;
        }
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 15px;
        }
    }
    .about_me {
        &__block {
            grid-template-columns: minmax(300px, 400px);
        }
        &__img_profile {
            margin: 0;
            height: 350px;
        }
        &__descr_block {
            padding: 0 8px;
        }
        &__title {
            margin-left: 8px;
        }
        &__subtitle {
            margin-left: 0px;
        }
        .divider {
            margin-left: 0px;
        }
        &__specialization {
            grid-template: 260px; 
            padding-right: 44px;
        }
    }
    .advantages {
        margin-top: 46px;
        padding: 0 8px;
        &__wrapper {
            justify-items: center;
            margin-top: 40px;
        }
        .divider {
            margin-top: 15px;
        }
    }
    .skills {
        margin-top: 40px;
        .divider {
            margin-top: 15px;
        }
        &__wrapper {
            margin-top: 15px;
        }
        // &__analytics_wrapper {
        //     padding: 0 8px;
        // }
        &__analytics_item {
            width: 290px;
            grid-template-columns: 250px 35px;
            padding: 0 8px;
        }
        &__analytics_item_scale {
            display: block;
            width: 285px;
            margin: 0 auto;
        }
    }
    .portfolio {
        margin-top: 46px;
        &__wrapper {
            row-gap: 20px;
        }
        &__img {
            width: 280px;
            height: 280px;
        }
    }
    .contacts {
        margin: 40px 0 40px 0;
        &__form {
            grid-template: 45px 190px 50px / repeat(2, minmax(100px, 400px));
        }
        &__wrapper {
            justify-items: center;
            grid-template-columns: minmax(290px, 1fr);
            padding: 0 8px;
        }
        &__img_profile {
            display: none;
        }
        .btn {
            margin-right: 7px;
            width: 120px;
        }
        #checkbox-error {
            margin-bottom: 70px;
        }
    }
}