.pricelist {
    margin-top: 60px;
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
    }
    .divider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 366px));
        justify-content: space-around;
        column-gap: 250px;
        margin-top: 45px;
    }
    &__circle {
        position: absolute;
        width: 15px;
        height: 15px;
        margin-top: 3px;
        background-color: $main-color;
        border-radius: 50%;
    }
    &__item {
        padding: 0 8px;
        display: grid;
        row-gap: 0;
        grid-template-rows: minmax(32px, auto);
        margin-left: 30px;
        margin-top: 15px;
        &::before {
            content: "";
            width: 15px;
            height: 15px;
            background-color: #bedaef;
            position: absolute;
            border-radius: 100%;
            margin-top: 4px;
            margin-left: -30px;
        }
    }
    &__item_subtitle {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
    }
    &__item_price {
        grid-column: 2 / 2;
        grid-row: 1 / 2;
        justify-self: end;
    }
    &__item_descr {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        line-height: 15px;
    }
}