.promo {
    min-height: 100vh;
    background: url('../img/main_background_1.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    position: relative;
    h1 {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        @include circle;
    }   
    &__btns {
        margin-top: 25px;
        display: block;
        width: 250px;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 41px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    .link {
        &:hover {
            color: $main_color;
            transition: all 0.6s;
            text-decoration: none;
        }
    }
}