.promo {
    min-height: 100vh;
    background-image: url('../../img/main_background_1.jpg');
    background-repeat: no-repeat;
    background-position: 50%/cover;
    position: relative;
    padding-top: 206px;
    .circle {
        position: relative;
        @include circle;
        z-index: 2;
    }
    h1 {
        margin: 0;
    }   
    &__btns {
        margin-top: 25px;
        display: block;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 41px;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    .link {
        &:hover {
            color: $main_color;
        }
    }
}
