.side_menu {
    transform: rotate(-90deg);
    width: 338px;
    height: 24px;
    position: absolute;
    z-index: 3;
    left: -120px;
    top: 365px;
    display: flex;
    justify-content: space-between;
    img {
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
    }
    &__divider {
        width: 70px;
        height: 1px;
        background-color: black;
        border: -1px solid #000000;
        margin-top: 12px;  
    }   
}
